<div class="row">
    <div class="col m-2">
      <div class="border-bottom border-primary mb-2">
        <h4>To Do</h4>
      </div>
      <div class="card border-light shadow bg-white my-2" *ngFor="let task of tasksStore.toDoTasks$ | async; trackBy: tasksTrackFn">
        <div class="card-header border-light d-flex justify-content-between">
          <span>{{task.title}}</span>
          <div>
            <div class="dropdown dropleft float-right">
              <i class='fa fa-ellipsis-h' data-toggle="dropdown"></i>
              <div class="dropdown-menu">
                <li class="dropdown-item d-flex" >
                  <span><i class="material-icons text-dark">open_in_new</i></span>
                  <span class="pl-2">Open Item</span> 
                </li>
                <div class="dropdown-divider"></div>
                <li class="dropdown-item d-flex" >
                  <span><i class="material-icons text-primary">edit</i></span>
                  <span class="pl-2">Edit Title</span>                  
                </li>
                <li class="dropdown-item d-flex">
                  <span> <i class="material-icons text-danger">delete</i></span>
                  <span class="pl-2">Delete</span>
                </li>
              </div>
            </div>
            <i class='far fa-delete'></i>
          </div>      
        </div>
        <div class="card-body border-light d-flex flex-column">
          <p class="card-text small">{{task.description}}</p>
          <div class="mt-3 d-flex">
            <span class="rounded-circle bg-info text-light d-inline-block text-center asignee-start">{{task.assignee.name.substr(1)}}</span>
            <span class="text-center text-dark pl-2 pt-1 small">{{task.assignee.name}}</span>
          </div>
        </div>
        <div class="card-footer border-light">
          <div class="d-flex justify-content-between">
            <span class="text-center text-dark pl-2 pt-1 small">State</span>
            <span>
              <span class="rounded-circle bg-secondary text-light d-inline-block text-center task-state"></span>
              <span class="text-center text-dark pl-1 pt-1 small">{{task.status}}</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col m-2">
      <div class="border-bottom border-warning">
        <h4>In Progress</h4>
      </div>
      <div class="card border-light shadow bg-white my-2" *ngFor="let task of tasksStore.inProgressTasks$ | async; trackBy: tasksTrackFn">
        <div class="card-header border-light d-flex justify-content-between">
          <span>{{task.title}}</span>
          <div>
            <div class="dropdown dropleft float-right">
              <i class='fa fa-ellipsis-h' data-toggle="dropdown"></i>
              <div class="dropdown-menu">
                <li class="dropdown-item d-flex" >
                  <span><i class="material-icons text-dark">open_in_new</i></span>
                  <span class="pl-2">Open Item</span> 
                </li>
                <div class="dropdown-divider"></div>
                <li class="dropdown-item d-flex" >
                  <span><i class="material-icons text-primary">edit</i></span>
                  <span class="pl-2">Edit Title</span>                  
                </li>
                <li class="dropdown-item d-flex">
                  <span> <i class="material-icons text-danger">delete</i></span>
                  <span class="pl-2">Delete</span>
                </li>
              </div>
            </div>
            <i class='far fa-delete'></i>
          </div>      
        </div>
        <div class="card-body border-light d-flex flex-column">
          <p class="card-text small">{{task.description}}</p>
          <div class="mt-3 d-flex">
            <span class="rounded-circle bg-info text-light d-inline-block text-center asignee-start">{{task.assignee.name.substr(1)}}</span>
            <span class="text-center text-dark pl-2 pt-1 small">{{task.assignee.name}}</span>
          </div>
        </div>
        <div class="card-footer border-light">
          <div class="d-flex justify-content-between">
            <span class="text-center text-dark pl-2 pt-1 small">State</span>
            <span>
              <span class="rounded-circle bg-secondary text-light d-inline-block text-center task-state"></span>
              <span class="text-center text-dark pl-1 pt-1 small">{{task.status}}</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col m-2">
      <div class="border-bottom border-success">
        <h4>Completed</h4>
      </div>
      <div class="card border-light shadow bg-white my-2" *ngFor="let task of tasksStore.completedTasks$ | async; trackBy: tasksTrackFn">
        <div class="card-header border-light d-flex justify-content-between">
          <span>{{task.title}}</span>
          <div>
            <div class="dropdown dropleft float-right">
              <i class='fa fa-ellipsis-h' data-toggle="dropdown"></i>
              <div class="dropdown-menu">
                <li class="dropdown-item d-flex" >
                  <span><i class="material-icons text-dark">open_in_new</i></span>
                  <span class="pl-2">Open Item</span> 
                </li>
                <div class="dropdown-divider"></div>
                <li class="dropdown-item d-flex" >
                  <span><i class="material-icons text-primary">edit</i></span>
                  <span class="pl-2">Edit Title</span>                  
                </li>
                <li class="dropdown-item d-flex">
                  <span> <i class="material-icons text-danger">delete</i></span>
                  <span class="pl-2">Delete</span>
                </li>
              </div>
            </div>
            <i class='far fa-delete'></i>
          </div>      
        </div>
        <div class="card-body border-light d-flex flex-column">
          <p class="card-text small">{{task.description}}</p>
          <div class="mt-3 d-flex">
            <span class="rounded-circle bg-info text-light d-inline-block text-center asignee-start">{{task.assignee.name.substr(1)}}</span>
            <span class="text-center text-dark pl-2 pt-1 small">{{task.assignee.name}}</span>
          </div>
        </div>
        <div class="card-footer border-light">
          <div class="d-flex justify-content-between">
            <span class="text-center text-dark pl-2 pt-1 small">State</span>
            <span>
              <span class="rounded-circle bg-secondary text-light d-inline-block text-center task-state"></span>
              <span class="text-center text-dark pl-1 pt-1 small">{{task.status}}</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
