.add-task{
    position: absolute;
    top:0;
    right:1%;
    z-index:100;
}
.previous-comments{
    max-height:100px;
    overflow-y:auto;
}

.form-group {
    margin-bottom:0.75rem;
    label, input, select, textarea{
        font-size: 80%;
    }
}

.modal-title {
    margin-bottom: 0;
    line-height: 0;
}