<div class="row">
    <div class="col-md-12 mx-auto">
      <div class="border-bottom border-primary mb-2">
        <h4>Details</h4>
      </div>   
      <div class="mb-2 d-flex">
        <div class="col-md mx-auto">
            <label>Country:</label>
            {{countryDetails?.name}}
        </div>
        <div class="col-md mx-auto">
            <label>capital:</label>
            {{countryDetails?.capital}}
        </div>
        <div class="col-md mx-auto">
            <label>TopLevelDomain:</label>
            {{countryDetails?.topLevelDomain}}
        </div>
        <div class="col-md mx-auto">
            <label>alpha2Code:</label>
            {{countryDetails?.alpha2Code}}
        </div>
        <div class="col-md mx-auto">
            <label>alpha3Code:</label>
            {{countryDetails?.alpha3Code}}
        </div>
        <div class="col-md mx-auto">
            <label>altSpellings:</label>
            {{countryDetails?.altSpellings}}
        </div>
      </div>   
    </div>
</div>


